[config]
gameTitle=Techaholica's Casino
welcomeMessage=Have fun, take a chance, try not to lose it all! 
cashAddAmount=10
channel=#techaholica
baseDir=TechaCasino
minPosDrunk=5
maxPosDrunk=10
minNegDrunk=11
maxNegDrunk=30
minPosSober=10
maxPosSober=20
minNegSober=1
maxNegSober=10
userTimer=600
userTimerCashReward=10
userTimerSoberReward=-5
inventoryMax=25
freeDrinkNumber=10